.idea/.name
.idea/artifacts/MTG_Database_war_exploded.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
MTG-Database.iml
.idea/uiDesigner.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
out/artifacts/MTG_Database_war_exploded/index.jsp
out/artifacts/MTG_Database_war_exploded/WEB-INF/classes/carroll/franklin/d/databaseUtilities/SqlCommandExecuter.class
out/artifacts/MTG_Database_war_exploded/WEB-INF/classes/carroll/franklin/d/servlets/TestServlet.class
out/artifacts/MTG_Database_war_exploded/WEB-INF/web.xml
out/production/MTG-Database/carroll/franklin/d/databaseUtilities/SqlCommandExecuter.class
out/production/MTG-Database/carroll/franklin/d/servlets/TestServlet.class